* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

#header {
  padding: 15px 0;
  background: #f4f5f6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: end;
}

.logo h1 {
  color: #122f53;
  font-size: 27px;
  font-weight: 700;
  margin: 0 0 0 10px;
}

.logo h1 span {
  color: #00a1a1;
}

nav {
  gap: 65px;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #122f53;
  font-weight: 100;
  font-size: 16px;
}

nav a:hover {
  color: #83aad8;
}

nav button {
  background: #122f53;
  font-size: 16px;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #20508a;
  color: #fff;
  transition: 0.3s;
  transform: scale(1.1);
}

#info {
  padding: 0;
  background: #f4f5f6;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-text h1 {
  width: 500px;
  font-size: 50px;
  font-weight: 700;
  color: #122f53;
  line-height: 65px;
  padding: 0 0 40px 0;
}

.info-text h1 span {
  color: #00cccc;
}

.info-text button {
  background: #00cccc;
  margin: 0 5px 0 0;
  color: #122f53;
  border: none;
  cursor: pointer;
  font-weight: 550;
  border-radius: 4px;
  padding: 13px 18px;
  font-size: 16px;
}

.info img {
  width: 700px;
}

.btn-image img {
  width: 20px;
  padding-inline: 5px;
}

.parent {
  position: relative;
  width: 520px;
  height: 510px;
  background: #00a1a1;
  margin-right: 500px;
}

.child {
  position: absolute;
  width: 500px;
  top: 121px;
  right: 100px;
}

.child img {
  width: 450px;
}

#blog {
  padding: 100px 0;
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-box {
  width: 300px;
  height: 200px;
}

.blog-box h1 {
  width: 300px;
  color: #122f53;
  padding: 20px 0;
}

.blog-box p {
  width: 290px;
  line-height: 25px;
  font-size: 16px;
  color: #122f53;
}

#about {
  padding: 60px 0;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
}

.about img {
  z-index: 100;
}

.first-position {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: -485px;
}

.block-1 {
  position: absolute;
}

.block-2 {
  position: absolute;
  margin-left: 180px;
}

.block-2 img {
  z-index: 99%;
}

.block-3 {
  margin-left: 450px;
  margin-top: 600px;
}

.about-box h1 {
  font-size: 23px;
  color: #576d81;
}

.about-text h1 {
  font-size: 40px;
  color: #122f53;
  padding: 25px 0 10px 0;
}

.about-text p {
  font-size: 16px;
  color: #122f53;
  padding: 20px 0;
  line-height: 27px;
}

#main {
  padding: 15px 0 115px 0;
  margin: 60px 0;
  background: #f4f5f6;
  height: 400px;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.met-box {
  width: 370px;
  border-radius: 10px;
  display: flex;
  height: 100px;
  padding: 20px;
  background: #ffffff;
}

.text-box {
  margin: 5px 0 0 15px;
}

.met-box p {
  width: 300px;
  line-height: 25px;
  padding: 15px 0;
}

.met-box-2 {
  width: 370px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  margin: 50px 0;
  height: 100px;
  background: #ffffff;
  margin-left: 50px;
}

.met-box-2 p {
  width: 300px;
  line-height: 25px;
  padding: 15px 0;
}

#about-2 {
  padding: 60px 0;
}

.about-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-box-2 h1 {
  font-size: 23px;
  color: #576d81;
}

.about-text-2 h1 {
  font-size: 40px;
  color: #122f53;
  padding: 25px 0 10px 0;
}

.about-text-2 p {
  font-size: 16px;
  color: #122f53;
  padding: 20px 0;
  line-height: 27px;
}

#end {
  padding: 60px 0;
}

.end {
  display: flex;
  justify-content: center;
}

.end-text {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.end-text h1 {
  font-size: 30px;
  padding: 10px 0;
}

.end-c input {
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  margin-block: 30px;
  background: #e7e6e6;
}

.end-c button {
  background: #00cccc;
  font-size: 16px;
  color: #0f2336;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#footer {
  padding: 60px 0;
  background: #0f2336;
}

.footer {
}

.footer-blog {
  display: flex;
  justify-content: space-around;
}

.text-footer {
  display: flex;
  padding: 0 0 0 75px;
}

.text-footer ul {
  display: flex;
  flex-flow: column;
  gap: 30px;
  color: #fff;
  list-style: none;
  padding: 0 25px;
}

ul li:first-child {
  font-size: 15px;
  color: #00cccc;
}

.footer p {
  display: flex;
  padding: 70px 0 0 0;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}
